/* by lalawue 2022/11/26 */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

body {
    color: black;
    font: 14px/1.5 "Luxi Serif", Verdana, helvetica, sans-serif;
}

p {
    margin-top: .9em;
    margin-bottom: .9em;
}

@media screen and (max-width: 1100px) {
    #content {
        width: 88%;
        float: left;
        left: .5%;
        position: relative;
        overflow: hidden;
        margin-top: .5em;
        margin-bottom: .5em;
        margin-left: 2.7%;
        padding-left: 2.5em;
        padding-right: 2em;
        padding-bottom: .5em;
        border: 1px solid gray;
        background-color: #efefef;
    }
}

@media screen and (min-width: 1100px) {
    #content {
        width: 70%;
        max-width: 700px;
        float: left;
        position: relative;
        overflow: hidden;
        left: 50%;
        margin-left: -380px;
        margin-top: .5em;
        margin-bottom: .5em;
        padding-left: 2.5em;
        padding-right: 2em;
        padding-bottom: .5em;
        border: 1px solid gray;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
    }
}

img#top {
    margin-top: .6in;
    margin-bottom: .4in;
}

img.icon {
    margin-top: .2in;
}

h1 {
    text-align: center;
    margin-top: .2in;
    margin-bottom: .3in;
}

h2 {
    margin-top: .7em;
    margin-bottom: .7em;
}

a:hover {
    color: black;
    text-decoration: underline;
}

pre.exp {
    padding: 7px 10px 10px 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #efefef;
    border-style: solid;
    border-width: 1px;
    width: 95%;
    overflow-x: auto;
    overflow-y: hidden;
}

textarea.code {
    padding: 7px 10px 10px 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-width: 1px;
    width: 95%;
    background-color: #efefef;
    border-style: solid;
    border-width: 1px;
}

button.action {
    width: 80px;
    height: 24px;
    margin-top: .3em;
    background-color: #efefef;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-width: 1px;
}

#exp_title_out, #exp_coroutine_out, #exp_class_out {
    margin-top: .5em;
}

#source_modal {
    position: absolute;
    left: 1%;
    width: 98%;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 9001;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    flex-wrap: wrap;
}

#source_code {
    padding: 1em;
    overflow: auto;
}

#source_backdrop {
    width:100%;
    height:100%;
    visibility: hidden;
    opacity: 0;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: rgba(8, 7, 7, 0.6);
    z-index: 100;
    transition: all .2s ease;
    backdrop-filter: saturate(180%) blur(3px);
}

.repl {
    text-shadow: none;
    color: #333;
    background: #f8f8f8;
    padding: 0;
    text-align: left;
    width: 98%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border: 1px solid;
    background-color: #efefef;
}

.repl code {
    height: 300px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    overflow-y: scroll;
}

pre.line {
    margin: 0;
}

#moocscript-console {
    padding: 11px 16px;
    display: block;
}

.moocscript-input-container {
    display: flex;
    border-top: 1px solid darkgray;
}

.moocscript-input-container > * {
    outline: none;
    border: none;
    white-space: pre-wrap;
    font-family: monospace;
    color: #444;
    background: #f0f0f0;
    min-height: 14px; /* minimum one line */
    padding: 10px;
    margin: 0;
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-top: 1px solid #ddd;
}

#moocscript-input {
    flex: 1;
    padding-left: 0;
}

#moocscript-prompt {
    font-weight: bold;
    padding: 8px 10px;
}